.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
*/*/Logs/
*/*/Logs/
/Player
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/Unity/Assets/StreamingAssets/
/netcoreapp2.0
/Unity/Assets/StreamingAssets.meta
/Unity/ServerData

.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user
/Bin
/Publish/Logs

/Publish

/Bundle/*/?????????
/Bundle
/Unity/Assets/BuildSave
/Unity/Assets/BuildSave.meta
/Unity/Assets/Model/Module/ServerConfig/Editor/ServerConfigEditorCustom.json
/Unity/Assets/Model/Module/ServerConfig/Editor/ServerConfigEditorCustom.json.meta
libGCloudVoice.a
/Server/ThirdParty/JWT/JWT/bin

/Unity/Bundles
/Unity/MemoryCaptures/
/Unity/*.csproj
/.vs
